/* Anything Effecting Whole Page */
body{
    margin: 0;
    padding: 0;
}

/* main page */

nav{
    width: 100%;
    background-color: black; 
    display: flex;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{

}

.logoImage{
    padding: 0px;
    height: 40px;
    width: 70px;
}

.logoAnchor{
    padding: 0px;
    height: 40px;
    width: 70px;
}