/* Anything Effecting Whole Page */
body{
    margin: 0;
    padding: 0;
}

/* main page */

.mainHeaderContainer{
    height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainHeaderImage{
    height: 250px;
    width: 270px;
}